@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Protest+Strike&display=swap');

body{ position: relative; background-attachment: fixed; overflow: hidden;  font-family: "Montserrat", sans-serif; 
    padding: 0; margin: 0;  }
.boardcontainer {
    max-width: 500px;
    margin: 0 auto;
    border: dashed 19px #efefef;
    padding: 30px;
    box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.3);


}
.heading {
    color: #830b87;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 2px;
       position: relative;
    top: 0px;
    font-family: "Protest Strike", sans-serif;
}
.board_row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.square_board{ font-size: 30px; font-weight: 800;  border-bottom: solid 7px #af079a; border-left: solid 7px #af079a; width: 100%; height: 130px; display: flex; justify-content: center; align-items: center;}
.btn{ background: orange; color: #fff; border-radius: 5px; padding: 8px 20px; margin-bottom: 30px; border: none; font-size: 16px;}
.win_sec{ display: table-cell; vertical-align: middle; }
.board_wrap{display: table; width: 100%; height: 85vh; }
.boardcontainer_wrap{ display: table-cell; vertical-align: middle;}
.win_sec h3{ color: #830b87; position: relative; z-index: 9; font-size: 30px;}
.square_board:first-child{ border-left: none;}
.nobder .square_board{ border-bottom: none;}
.anim{ width: 50%; position: absolute; top: 20%; left: 0; right: 0; margin: 0 auto; z-index: 0; }
.win_sec button{ position: relative; z-index: 9;}
h4.hdr {
    font-size: 20px;
    border-bottom: dashed 1px #ddd;
    padding-bottom: 10px;
}